// MEASURES
$base-offset: 8px;
$base-border-radius: 8px;
$base-transition-time: .3s;

$app-width: 1024px;

$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xlg: 32px;

// COLORS
$dark: #262322;
$grey: #BCC4DB;
$red: #DB4646;
$green: #2EC4B6;
$blue: #66C3FF;