@import '~Common/styles/variables';

.Refill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10vh auto 0;

    &__Title {
        align-self: flex-start;
        margin-bottom: $base-offset * 2;
    }

    &__Back {
        font-weight: 600;
        color: $blue;
        text-decoration: none;
        margin-right: $base-offset * 2;

        &:hover {
            transition: $base-transition-time;
            color: darken($blue, 10);
        }

        &:hover, &:focus {
            text-decoration: none;
        }
    }

    &__OperatorLogo {
        width: 60px;
        height: 60px;
        margin-bottom: $base-offset * 2;
    }
}